<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="UserMode" value="True"/>
    <add key="FullConfig" value="True"/>
    <add key="edInputPath.Text" value="C:\Program Files\Microsoft\PSSDiag\Pristine\Output"/>
    <add key="edServer.Text" value="."/>
    <add key="edDatabase.Text" value="PerfAnalysis"/>
    <add key="ckOverwrite.Checked" value="True"/>
    <add key="rbWindows.Checked" value="True"/>
    <add key="edUser.Text" value=""/>
    <add key="ckWizard.Checked" value="True"/>
    <add key="edUpdateURL.Text" value="http://dsdb/pssdiag/versions.xml"/>
    <add key="HiddenFolders" value="AS;Analysis Services;New Folder;Junk;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
